{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ user.username }} Cart</h1>
    {% for product in productsCart %}
        ID: {{ product.product.id}} -> {{ product.product.name }} - {{ product.quantity }} of it<br>
    {% endfor %}
    You currently have &euro;{{ user.initialCash }}
    Total price: &euro;{{ totalPrice }}<br/>

    {% if totalPrice > user.initialCash %}
        {%  set needed_amount = (totalPrice - user.initialCash) %}
        <div>You cannot checkout the cart. You need &euro;{{ needed_amount }} more.</div>
    {% endif %}
    <a href="{{ path('petfoodshoppingbasket_cart_checkoutcart', {'cart': cart.id}) }}" class="btn-default btn btn-1" >Checkout</a>
    <a href="{{ path('edit_user_profile_form', {'id': user.id}) }}" class="btn-default btn btn-1" >Add cash</a>
    <a href="{{ path('all_products') }}" class="btn-default btn btn-1" >Back to products</a>
{% endblock %}
