{% for msg in app.session.flashBag.get('info') %}
    <h1 style="color: forestgreen;">{{ msg }}</h1>
{% endfor %}

{% for msg in app.session.flashBag.get('delete') %}
    <h1 style="color: darkred;">{{ msg }}</h1>
{% endfor %}

<table border="1" cellpadding="0" cellspacing="0">
    <thead>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Price</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>Reviews</th>
        <th>Add Tag</th>
        <th>View Tags</th>
    </tr>
    </thead>
    <tbody>
    {% for index, product in products %}
    <tr>
        <td>{{ index + 1 }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
        <td><a href=" {{ path('edit_product_form', {'id': product.id}) }}">Edit </a></td>
        <td><form method="POST" action="{{ path('delete_product_process', {'id': product.id}) }}">
                <button type="submit">Delete</button>
            </form>
        </td>
        <td>
            <a href="{{ path('product_reviews', {'id': product.id}) }}">
                View all reviews
            </a>
        </td>
        <td><a href="{{ path('add_tag_form', {'id': product.id}) }}">add tag</a> </td>
        <td><a href="{{ path('tags_by_product', {'id': product.id}) }}">view tags</a> </td>
    </tr>
    {% endfor %}
    </tbody>
</table>